
.imageinfo-container {
    background-color: #eeeeee;
  }
  
  .image-card {
    margin-left: 90px;
    vertical-align: middle;
    line-height: 31.5714px;
    height: 220.57px;
    width: 329.992px;
    max-width: 100%;
  }
  
  .image-title {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 220px;
    font-size: 27px;
    font-weight: 700;
  }
  
  .image-p {
    font-size: 17px;
    font-weight: 700;
    width: 759.992px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    position: relative;
    left: 420px;
    bottom: 200px;
  }
  

  @media (max-width: 398px) {
    .image-title {
      font-size: 20px;
 
    }
  
    .image-title{
     margin-right: -20px;
 
    }
   
  }
  

  @media (max-width: 576px) {
    .image-card {
      margin-left: 53px;
      padding: 20px;
      
    }
  
    .image-title {
      font-size: 28px; 
      top: -240px;
    }
  
    .image-p {
      font-size: 12px; 
      bottom: 40px;
      width: 100%;
      left: 0;
    }
  }
  