
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.hero-container {
  height: 503.023px;
  width: 759.992px;

  padding: 70px 70px 70px 70px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;


 background-color: #EEEEEE;
 
}

.hero-left h1 {
  display: block;
  clear: both;
  height: 93.5938px;
  width: 619.992px;
  transform: none;
  box-sizing: border-box;

  font-family: Barlow, sans-serif;

  margin-bottom: 10px;
  font-size: 39px;
  font-weight: 700px;
  line-height: 48.8px;
  color: #1e17a1;
 
  word-spacing: 0px;
  margin-left: -5px;
  
}




.hero-left p {
  color: #404e5c; 
  background-color: #EEEEEE;
  font-size: 17px; 
  font-weight: 700px;
  line-height: 31.5714px;
  word-spacing: 0px;
  text-decoration: none solid rgb(64,78,92);
  margin-bottom: 30px;
  height: 126.281px;
  width: 619.992px;
  margin: 0 0 27px 0;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
  word-wrap: break-word;




}
@media (max-width: 576px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between .hero-container and .contact-container */
    height: auto; 
   
    
  }
 
}

@media (max-width: 576px) {
  .hero-left h1 {
    margin-left: -170px; 
    margin-top: -290px;
    font-size: 17px;
    font-weight:600;
    line-height: 20px;
    padding: 20px;
  }
}
@media (max-width: 430px) {
  .hero-left p {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 20px 1px 0 -40px;
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 58%;
   margin-bottom: 60px;
  
  
  }
}

@media(max-width: 390px) {
  .hero-left h1 {
    margin-left: -192px; 
    margin-top: -297px;
    font-size: 17px;
    font-weight:600;
    line-height: 20px;
    padding: 0px;
  }
}