@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Barlow', sans-serif;
}

.heating-container {
    position: relative;
    height: 50vh;
}
.heating-image {
  height:100%;
  width: 100%;
  object-fit: cover;
}
.heating-content {
position: absolute;
top: 30%;
right:65%;

}
.heating-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff
}