.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.nav-logo img {
  width: 160px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 50px;

  position: relative;
  align-items: center;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.nav-menu a {
  text-decoration: none;
  color: #1e17a1;
  font-size: 20px;
  font-weight: 500;
}


.hamburger-menu {
  display: none; 
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #626262;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 434px) {

  .nav-menu {
    position: absolute;
    top: -10px; 
    left: 0;
    right: 0;
    display: none; 
    flex-direction: column;
    gap: 1px;
    padding: 5px;
    align-items: center;
    z-index: 1000; 
  }

  .nav-menu.active {
    display: flex; 
  }

  .navbar {
    width: 100%;
  }

  .hamburger-menu {
    display: block; 
    cursor: pointer;
  }


  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@media (max-width: 430px) {
  /* ... other styles ... */

  .sign-up-link {
    display: block; /* Show only on smaller screens */
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px; /* Adjust padding as needed */
  }

  .sign-up-link a {
    text-decoration: none;
    color: #1e17a1; /* Same color as other links, change if needed */
    font-size: 20px;
    font-weight: 500;
  }
}